package="sentinel-agent"
version="%%VERSION%%"
os_min_ver="7.0-40000"
description="Sentinel RMM Agent - Remote monitoring and management agent for Synology NAS devices"
arch="%%ARCH%%"
maintainer="Sentinel RMM"
maintainer_url="https://sentinelrmm.us"
distributor=""
distributor_url=""
support_url="https://sentinelrmm.us/support"
model=""
adminprotocol="https"
adminurl=""
adminport=""
firmware_wizard=""
startable="yes"
silent_install="yes"
silent_upgrade="yes"
silent_uninstall="yes"
thirdparty="yes"
dsmuidir="ui"
dsmappname="SYNO.SDS.SentinelAgent"
support_conf_folder="no"
